<div class="headline-item">
  <div class="header">
    <h1 class="caption">Information</h1>
  </div>
  <div class="information-body">
    <div class="row">
      <div class="col-xs-4">
        <!-- Scientific Comiteee -->
        <dl>
          <dt>Scientific Commitee</dt>
          <dd>
            Raul Cunca
            <br/>
            Victor M Almeida
          </dd>
        </dl>
      </div>
      <div class="col-xs-4">
        <!-- Executive Comiteee -->
        <dl>
          <dt>Executive Commitee</dt>
          <dd>
            Emílio Vilar
            <br/>
            Raul Cunca
            <br/>
            Victor M Almeida
            <br/>
            Cristóvão Pereira
          </dd>
        </dl>
      </div>
    </div>

    <!-- Scientific Coordination -->
    <dl>
      <dt>Scientific Coordination</dt>
      <dd>
        Miguel Arruda,
        <small>Faculdade de Belas-Artes da Universidade de Lisboa</small>
        <br/>
        Aurelindo Jaime Ceia,
        <small>Instituto Superior de Educação e Ciências de Lisboa</small>
        <br>
        Federica Dal Falco,
        <small>Facultà de Architettura della Sapienza Università di Roma</small>
        <br/>
        Vasco Branco,
        <small>Universidade de Aveiro</small>
        <br/>
        Inês Secca Ruivo,
        <small>Universidade de Évora</small>
        <br/>
        Fernando Moreira da Silva,
        <small>Faculdade de Arquitectura da Universidade de Lisboa</small>
        <br/>
        Heitor Alvelos,
        <small>Faculdade de Belas-Artes da Universidade do Porto</small>
        <br/>
        Alexandra Cruchinho,
        <small>Esart - Instituto Politécnico de Castelo Branco</small>
        <br/>
        Eduardo Côrte-Real,
        <small>IADE - Instituto de Artes Visuais e Marketing</small>
      </dd>
    </dl>

    <!-- Honor Commitee -->
    <dl>
      <dt>Honor Commitee</dt>
      <dd>
        Reitor da Universidade de Lisboa
        <br/>
        Presidente da Câmara Municipal de Lisboa
        <br/>
        Presidente da Fundação para a Ciência e a Tecnologia
        <br/>
        Presidente da Faculdade de Belas-Artes da Universidade de Lisboa
        <br/>
        Presidente do Centro de Investigação e de Estudos em Belas-Artes
      </dd>
    </dl>

    <!-- Organization -->
    <dl>
      <dt>Organization</dt>
      <dd>
        Faculdade de Belas-Artes da Universidade de Lisboa
        <br>
        CIEBA – SdD Secção de Design e SdDC Secção de Design de Comunicação do Centro de Investigação e Estudos em Belas-Artes
      </dd>
    </dl>
    <div class="row faculty-info">
      <div class="col-xs-6">
        <!-- Address -->
        <p>
          <strong>Faculdade de Belas-Artes</strong>
          <br/>
          Universidade de Lisboa
        </p>
        <address>
          Largo da Academia Nacional de Belas-Artes
          <br/>
          1249-058 Lisboa
          <br/>
          Portugal
        </address>
      </div>
      <div class="col-xs-6">
        <!-- Contact -->
        <p>
          <strong>Contact</strong>
          <br/>
          <a href="mailto:encontrosdesign@fba.ul.pt">encontrosdesign@fba.ul.pt</a>
        </p>
        <address>
          <strong>Phone</strong>
          <br/>
          +351 213 252 100
        </address>
      </div>
    </div>
  </div>
  <div class="information-footer">
    <img src="images/sponsor@2x.png" width="355" height="120"/>
  </div>
</div>
