<h1 class="opening-date">13.11.14</h1>
<div class="registration">
  <h3>> Registration is now available</h3>
  <a href="docs/EDLxLDM_2014_Registration.pdf" target="new">
    <img height="88" src="images/doc@2x.png" width="65">
    <h5>
      Download
      <br/>
      the registration form here
    </h5>
  </a>
  <p>
    Registration is necessary in order to attend the conferences.
    <br/>
    Limited number of seats available.
  </p>
</div>
<h2 class='text-center'>&times;</h2>
<h3 class='opening'>
  The II Lisbon Design Meetings (LDM) propose a space of reflection and communication of the procedural, methodological and research design dynamics with the aim of contributing to the consolidation of this project-based activity as a field of knowledge and intervention.
</h3>
<h4 class='opening-description'>
  The 2014 Edition entitled “Documenting Design | Commenting Design” - seeks to document the limits of design in an attempt to better match the praxis associated with teaching/education to the research/science area, where design knowledge has a leading role. To document is to instill importance to the study and critique of design as factors of cultural perception of the artifacts in context. In an era defined by social consciousness of citizenship and the plasticity of the looks of the designer, to document | comment is to resize the arena in which design takes place.
</h4>